body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(lib/danceFloor.jpg);
  background-position: center;
  background-color: #444;
  font-size: 18px;
  background-repeat: no-repeat;
  text-align: center;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.addDancerButton {
  padding:12px 12px;
  float: left;
}

.title, .lineUpButton, .clearButton {
  padding: 12px 12px;
  float:right;
}
.title {
  background-color: black;
}
.topbar{
  height:50px;
  background-color: #444;
  text-align: center;
}

.dancer{
  border:15px solid red;
  border-radius:15px;
  position:absolute;
}

.rainbow-dancer {
  border: 25px solid;
  position: absolute;
  border-radius: 50%;
}

.donut {
  width: 50px;
  height: 50px;
  border: 30px solid;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.donut:hover {
  color: pink;
  animation-name: bounce;
}

.pac-man {
  position: absolute;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
   0%   {border: 30px solid pink;}
  25%  {border: 20px solid orange;}
  50%  {border: 10px solid green;}
  75%  {border: 20px solid blue;}
  100% {border: 30px solid purple;}
}

/* Standard syntax */
@keyframes example {
  0%   {border: 30px solid pink;}
  25%  {border: 20px solid orange;}
  50%  {border: 10px solid green;}
  75%  {border: 20px solid blue;}
  100% {border: 30px solid purple;}
}